<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Base{% endblock %}</title>
         
        <!-- Pico CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">

        <!-- 사용자 CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
       
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block script %}{% endblock %}
    </body>
</html>